<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LocalNotification.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E1CE153F1F2CD2FC00966263</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E1CE15531F2CD2FC00966263</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E1CE155E1F2CD2FC00966263</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
